<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aptc.mapper.ScoreMapper">

    <select id="userScorePageQuery" resultType="com.aptc.pojo.vo.UserScoreVO">
        select ts.sname, ts.pid, ts.prs, ts.pst, ts.ftr, ts.byd, tsc.*
        from t_song ts, t_score tsc
        <where>
            tsc.uid = #{uid} and tsc.sid = ts.sid
            <if test="sname != null and sname != ''">and ts.sname like concat('%', #{sname}, '%')</if>
            <if test="pid != null and pid != ''">and pid = #{pid}</if>
        </where>
    </select>

    <update id="updateScore">
        update t_score
            <set>
                <if test="pstScore != null and pstScore != ''">pst_score = #{pstScore}, pst_ptt = #{pstPtt},</if>
                <if test="type == 0 and (pstScore == null or pstScore == '')">pst_score = null, pst_ptt = null,</if>
                <if test="prsScore != null and prsScore != ''">prs_score = #{prsScore}, prs_ptt = #{prsPtt},</if>
                <if test="type == 0 and (prsScore == null or prsScore == '')">prs_score = null, prs_ptt = null,</if>
                <if test="ftrScore != null and ftrScore != ''">ftr_score = #{ftrScore}, ftr_ptt = #{ftrPtt},</if>
                <if test="type == 0 and (ftrScore == null or ftrScore == '')">ftr_score = null, ftr_ptt = null,</if>
                <if test="bydScore != null and bydScore != ''">byd_score = #{bydScore}, byd_ptt = #{bydPtt}</if>
                <if test="type == 0 and (bydScore == null or bydScore == '')">byd_score = null, byd_ptt = null,</if>
                <if test="true">time = now(),</if>
            </set>
        where scid = #{scid}
    </update>

    <insert id="insertScore">
        INSERT INTO t_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="sid != null">sid,</if>
            <if test="pstScore != null">pst_score,</if>
            <if test="pstPtt != null">pst_ptt,</if>
            <if test="prsScore != null">prs_score,</if>
            <if test="prsPtt != null">prs_ptt,</if>
            <if test="ftrScore != null">ftr_score,</if>
            <if test="ftrPtt != null">ftr_ptt,</if>
            <if test="bydScore != null">byd_score,</if>
            <if test="bydPtt != null">byd_ptt,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="sid != null">#{sid},</if>
            <if test="pstScore != null">#{pstScore},</if>
            <if test="pstPtt != null">#{pstPtt},</if>
            <if test="prsScore != null">#{prsScore},</if>
            <if test="prsPtt != null">#{prsPtt},</if>
            <if test="ftrScore != null">#{ftrScore},</if>
            <if test="ftrPtt != null">#{ftrPtt},</if>
            <if test="bydScore != null">#{bydScore},</if>
            <if test="bydPtt != null">#{bydPtt},</if>
        </trim>
    </insert>

    <select id="getB30" resultType="com.aptc.pojo.vo.UserB30VO">
        select t_song.sname sname, t_score.sid sid, pst_score score, pst_ptt ptt, time time, '1' difficulty_type, t_song.pst difficulty from t_score
        left join t_song on t_score.sid = t_song.sid where t_score.uid = #{uid} and t_score.pst_score is not null
        union
        select t_song.sname sname, t_score.sid sid, prs_score score, prs_ptt ptt, time time, '2' difficulty_type, t_song.prs difficulty from t_score
        left join t_song on t_score.sid = t_song.sid where t_score.uid = #{uid} and t_score.prs_score is not null
        union
        select t_song.sname sname, t_score.sid sid, ftr_score score, ftr_ptt ptt, time time, '3' difficulty_type, t_song.ftr difficulty from t_score
        left join t_song on t_score.sid = t_song.sid where t_score.uid = #{uid} and t_score.ftr_score is not null
        union
        select t_song.sname sname, t_score.sid sid, byd_score score, byd_ptt ptt, time time, '4' difficulty_type, t_song.byd difficulty from t_score
        left join t_song on t_score.sid = t_song.sid where t_score.uid = #{uid} and t_score.byd_score is not null
        order by ptt desc
    </select>

    <insert id="insertScoreBatch">
        insert into t_score (uid, sid, pst_score, pst_ptt, prs_score, prs_ptt, ftr_score, ftr_ptt, byd_score, byd_ptt)
        values
        <foreach collection="scores" item="score" separator=",">
            (#{score.uid},
            #{score.sid},
            #{score.pstScore},
            #{score.pstPtt},
            #{score.prsScore},
            #{score.prsPtt},
            #{score.ftrScore},
            #{score.ftrPtt},
            #{score.bydScore},
            #{score.bydPtt})
        </foreach>
    </insert>

    <select id="getExportSt3List" resultType="com.aptc.pojo.dto.UserExportSt3VO">
        select tsc.pst_score, tsc.prs_score, tsc.ftr_score, tsc.byd_score, ts.sgid songId
        from t_score tsc
        left join aptc.t_song ts on tsc.sid = ts.sid
        where uid = #{uid};
    </select>
</mapper>
